* {
  font: Helvetica;
  margin: auto;
  text-align: center;
  padding: 5px;
}

body {
  background-color: #f5f293;
}

.hide {
  display: none;
}

section {
  border-radius: 10px;
  border: 2px solid black;
  width: 500px;
  background-color: #dbbd90;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

#title {
  border-radius: 10px;
  background-color: white;
  font-size: 30px;
  width: max-content;
  margin-top: 5px;
  border: 1px solid black;
}

button {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #c0c0c0;
  margin: 5px;
}

#screen {
  border-radius: 10px;
  background-color: white;
  font-size: 50px;
  width: 200px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.bt_group {
  border: none;
}

.bt_aligned {
  margin: 0px 15px;
  width: 30px;
}